In [3]:
import pandas as pd

In [4]:
weather_data = pd.read_csv('..\data_weather\climate_data.csv') # loading data into dataframe
weather_data.head()

,Date,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F),Date1,Month,diff_pressure
0,2009-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,2009-01-01,1,0.166
1,2009-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,2009-01-02,1,0.401
2,2009-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,8.0,35.0,30.232,29.260,25.3,38.0,41.0,2009-01-03,1,0.972
3,2009-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,2009-01-04,1,0.339
4,2009-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,2009-01-05,1,0.665

In [ ]:
from decimal import Decimal
import json
import boto3

In [39]:
weather_data = weather_data.rename(columns={'Date': 'date'}) # transforming column names for matching with Dtnadb tamble rowkey

dic_data = weather_data.to_dict('records') # Convert dataframe into a list o json object

ddb_data = json.loads(json.dumps(dic_data), parse_float=Decimal) # transforming float into decimal for using boto3 put_item()

In [38]:
import boto3
s3 = boto3.resource('s3')

dynamodb = boto3.resource('dynamodb')
table = dynamodb.Table('weather_data')
for element in ddb_data:
    #print(element)
    table.put_item(Item=element)

In [6]:
import boto3
from botocore.config import Config # aws credentials configured previously in the CLI


location = {'LocationConstraint': 'sa-east-1'} # region config
s3.create_bucket(Bucket='mybucketapor', CreateBucketConfiguration=location)

s3.Bucket(name='mybucketapor')

In [28]:
#max_temp_data = weather_data[weather_data.columns[:2]]

max_temp_data = pd.DataFrame()
new_names = ['date', 'avarage_temperature']
max_temp_data['date'] = weather_data[weather_data.columns[0]]
max_temp_data['avarage_temperature'] = weather_data[weather_data.columns[1]]

max_temp_data.dtypes
max_temp_data.max()

date                   2020-07-28
avarage_temperature          76.3
dtype: object

In [32]:
import matplotlib.pyplot as plt
x = max_temp_data.date 
y = max_temp_data.avarage_temperature
max_temp_data = max_temp_data.cumsum()

plt.figure(); max_temp_data.plot(); plt.legend(loc='best')
plot(x, y)